<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @pet.nome %>
</p>

<p>
  <strong>Especie:</strong>
  <%= @pet.especie %>
</p>

<p>
  <strong>Raca:</strong>
  <%= @pet.raca %>
</p>

<p>
  <strong>Porte:</strong>
  <%= @pet.porte %>
</p>

<p>
  <strong>Comentario:</strong>
  <%= @pet.comentario %>
</p>

<p>
  <strong>Solicitante:</strong>
  <%= @pet.solicitante %>
</p>

<%= link_to 'Edit', edit_pet_path(@pet) %> |
<%= link_to 'Back', pets_path %>
