<%= form_with(model: event, local: true) do |f| %>
  <% if event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event.errors.count, "error") %> impediu este evento de ser registrado:</h2>

      <ul>
        <% event.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :titulo %>
    <%= f.text_field :titulo %>
  </div>

  <div class="field">
    <%= f.label :local %>
    <%= f.text_field :local %>
  </div>

  <div class="field">
    <%= f.label :descricao %>
    <%= f.text_area :descricao %>
  </div>

  <div class="field">
    <%= f.label :dia %>
    <%= f.date_select :date %>
  </div>

  <div class="actions">
    <%= f.submit 'Salvar'%>
  </div>
<% end %>